In [1]:
import pandas as pd
import numpy as np

In [3]:
data =[1,2,3,4,5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
py_list = series.tolist
print("Python list:",py_list)
print("Type:",type(py_list))

Python list: <bound method IndexOpsMixin.tolist of 0    1
1    2
2    3
3    4
4    5
dtype: int64>
Type: <class 'method'>

In [7]:
series1 =pd.Series([2,4,5,8,10])
series2 =pd.Series([1,3,5,7,9])
add = series1 + series2
sub = series1 - series2
mul = series1 * series2
div = series1 / series2
print(add)
print(sub)
print(mul)
print(div)

0     3
1     7
2    10
3    15
4    19
dtype: int64
0    1
1    1
2    0
3    1
4    1
dtype: int64
0     2
1    12
2    25
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.000000
3    1.142857
4    1.111111
dtype: float64

In [8]:
dictionary = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}
series_from_dict = pd.Series(dictionary)
print(series_from_dict)

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [12]:
numpy_arr = np.array([10, 20, 30, 40, 50])
series_np_array = pd.Series(numpy_arr)

print(series_np_array)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
series_with_strings = pd.Series(['1', '2', '3', '4', '5'])
series_as_int = series_with_strings.astype(int)

print(series_as_int)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40]}
df = pd.DataFrame(data)

print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

In [14]:
empids = [1,2,3,4,5,6,7,8,9,10]
names = ['Meenal','Akash','Pranjal','Pranshi','Anjali','ela','eva','Mary','Ruapli','Prerana']

empids_series = pd.Series(empids)
names_series = pd.Series(names)
emp_df = pd.DataFrame({'EmpID': empids_series, 'Name': names_series})


print(emp_df)
print(emp_df.head())
print(emp_df.tail())

print(emp_df.iloc[[0, 1, -2, -1]])
print("Name of 5th employee:", emp_df.loc[4, 'Name'])
print(emp_df.iloc[3])

   EmpID     Name
0      1   Meenal
1      2    Akash
2      3  Pranjal
3      4  Pranshi
4      5   Anjali
5      6      ela
6      7      eva
7      8     Mary
8      9   Ruapli
9     10  Prerana
   EmpID     Name
0      1   Meenal
1      2    Akash
2      3  Pranjal
3      4  Pranshi
4      5   Anjali
   EmpID     Name
5      6      ela
6      7      eva
7      8     Mary
8      9   Ruapli
9     10  Prerana
   EmpID     Name
0      1   Meenal
1      2    Akash
8      9   Ruapli
9     10  Prerana
Name of 5th employee: Anjali
EmpID          4
Name     Pranshi
Name: 3, dtype: object

In [16]:
df = pd.read_csv("Market_Basket_Optimisation.csv")

In [18]:

print("First five records of dataset:")
print(df.head())

First five records of dataset:
           shrimp    almonds     avocado    vegetables mix green grapes  \
0         burgers  meatballs        eggs               NaN          NaN
1         chutney        NaN         NaN               NaN          NaN
2          turkey    avocado         NaN               NaN          NaN
3   mineral water       milk  energy bar  whole wheat rice    green tea
4  low fat yogurt        NaN         NaN               NaN          NaN

  whole weat flour yams cottage cheese energy drink tomato juice  \
0              NaN  NaN            NaN          NaN          NaN
1              NaN  NaN            NaN          NaN          NaN
2              NaN  NaN            NaN          NaN          NaN
3              NaN  NaN            NaN          NaN          NaN
4              NaN  NaN            NaN          NaN          NaN

  low fat yogurt green tea honey salad mineral water salmon antioxydant juice  \
0            NaN       NaN   NaN   NaN           NaN    NaN               NaN
1            NaN       NaN   NaN   NaN           NaN    NaN               NaN
2            NaN       NaN   NaN   NaN           NaN    NaN               NaN
3            NaN       NaN   NaN   NaN           NaN    NaN               NaN
4            NaN       NaN   NaN   NaN           NaN    NaN               NaN

  frozen smoothie spinach  olive oil
0             NaN     NaN        NaN
1             NaN     NaN        NaN
2             NaN     NaN        NaN
3             NaN     NaN        NaN
4             NaN     NaN        NaN

In [19]:

print(df.tail())

        shrimp            almonds      avocado  vegetables mix green grapes  \
7495    butter         light mayo  fresh bread             NaN          NaN
7496   burgers  frozen vegetables         eggs    french fries    magazines
7497   chicken                NaN          NaN             NaN          NaN
7498  escalope          green tea          NaN             NaN          NaN
7499      eggs    frozen smoothie  yogurt cake  low fat yogurt          NaN

     whole weat flour yams cottage cheese energy drink tomato juice  \
7495              NaN  NaN            NaN          NaN          NaN
7496        green tea  NaN            NaN          NaN          NaN
7497              NaN  NaN            NaN          NaN          NaN
7498              NaN  NaN            NaN          NaN          NaN
7499              NaN  NaN            NaN          NaN          NaN

     low fat yogurt green tea honey salad mineral water salmon  \
7495            NaN       NaN   NaN   NaN           NaN    NaN
7496            NaN       NaN   NaN   NaN           NaN    NaN
7497            NaN       NaN   NaN   NaN           NaN    NaN
7498            NaN       NaN   NaN   NaN           NaN    NaN
7499            NaN       NaN   NaN   NaN           NaN    NaN

     antioxydant juice frozen smoothie spinach  olive oil
7495               NaN             NaN     NaN        NaN
7496               NaN             NaN     NaN        NaN
7497               NaN             NaN     NaN        NaN
7498               NaN             NaN     NaN        NaN
7499               NaN             NaN     NaN        NaN

In [20]:
print(df.columns)

Index(['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes',
       'whole weat flour', 'yams', 'cottage cheese', 'energy drink',
       'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad',
       'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie',
       'spinach', 'olive oil'],
      dtype='object')

In [21]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   shrimp             7500 non-null   object
 1   almonds            5746 non-null   object
 2   avocado            4388 non-null   object
 3   vegetables mix     3344 non-null   object
 4   green grapes       2528 non-null   object
 5   whole weat flour   1863 non-null   object
 6   yams               1368 non-null   object
 7   cottage cheese     980 non-null    object
 8   energy drink       653 non-null    object
 9   tomato juice       394 non-null    object
 10  low fat yogurt     255 non-null    object
 11  green tea          153 non-null    object
 12  honey              86 non-null     object
 13  salad              46 non-null     object
 14  mineral water      24 non-null     object
 15  salmon             7 non-null      object
 16  antioxydant juice  3 non-null      object
 17  frozen smoothie    3 non-null      object
 18  spinach            2 non-null      object
 19  olive oil          0 non-null      float64
dtypes: float64(1), object(19)
memory usage: 1.1+ MB
None

In [22]:
print(df.dtypes)

shrimp                object
almonds               object
avocado               object
vegetables mix        object
green grapes          object
whole weat flour      object
yams                  object
cottage cheese        object
energy drink          object
tomato juice          object
low fat yogurt        object
green tea             object
honey                 object
salad                 object
mineral water         object
salmon                object
antioxydant juice     object
frozen smoothie       object
spinach               object
olive oil            float64
dtype: object

In [23]:
print(df.isnull().sum())

shrimp                  0
almonds              1754
avocado              3112
vegetables mix       4156
green grapes         4972
whole weat flour     5637
yams                 6132
cottage cheese       6520
energy drink         6847
tomato juice         7106
low fat yogurt       7245
green tea            7347
honey                7414
salad                7454
mineral water        7476
salmon               7493
antioxydant juice    7497
frozen smoothie      7497
spinach              7498
olive oil            7500
dtype: int64

In [24]:
print(df.head(10))

              shrimp       almonds     avocado    vegetables mix green grapes  \
0            burgers     meatballs        eggs               NaN          NaN
1            chutney           NaN         NaN               NaN          NaN
2             turkey       avocado         NaN               NaN          NaN
3      mineral water          milk  energy bar  whole wheat rice    green tea
4     low fat yogurt           NaN         NaN               NaN          NaN
5  whole wheat pasta  french fries         NaN               NaN          NaN
6               soup   light cream     shallot               NaN          NaN
7  frozen vegetables     spaghetti   green tea               NaN          NaN
8       french fries           NaN         NaN               NaN          NaN
9               eggs      pet food         NaN               NaN          NaN

  whole weat flour yams cottage cheese energy drink tomato juice  \
0              NaN  NaN            NaN          NaN          NaN
1              NaN  NaN            NaN          NaN          NaN
2              NaN  NaN            NaN          NaN          NaN
3              NaN  NaN            NaN          NaN          NaN
4              NaN  NaN            NaN          NaN          NaN
5              NaN  NaN            NaN          NaN          NaN
6              NaN  NaN            NaN          NaN          NaN
7              NaN  NaN            NaN          NaN          NaN
8              NaN  NaN            NaN          NaN          NaN
9              NaN  NaN            NaN          NaN          NaN

  low fat yogurt green tea honey salad mineral water salmon antioxydant juice  \
0            NaN       NaN   NaN   NaN           NaN    NaN               NaN
1            NaN       NaN   NaN   NaN           NaN    NaN               NaN
2            NaN       NaN   NaN   NaN           NaN    NaN               NaN
3            NaN       NaN   NaN   NaN           NaN    NaN               NaN
4            NaN       NaN   NaN   NaN           NaN    NaN               NaN
5            NaN       NaN   NaN   NaN           NaN    NaN               NaN
6            NaN       NaN   NaN   NaN           NaN    NaN               NaN
7            NaN       NaN   NaN   NaN           NaN    NaN               NaN
8            NaN       NaN   NaN   NaN           NaN    NaN               NaN
9            NaN       NaN   NaN   NaN           NaN    NaN               NaN

  frozen smoothie spinach  olive oil
0             NaN     NaN        NaN
1             NaN     NaN        NaN
2             NaN     NaN        NaN
3             NaN     NaN        NaN
4             NaN     NaN        NaN
5             NaN     NaN        NaN
6             NaN     NaN        NaN
7             NaN     NaN        NaN
8             NaN     NaN        NaN
9             NaN     NaN        NaN

In [30]:
print(df.shape)

(7500, 20)

In [31]:
print(df.describe())

       olive oil
count        0.0
mean         NaN
std          NaN
min          NaN
25%          NaN
50%          NaN
75%          NaN
max          NaN

In [36]:
salary_Data= pd.read_csv("Salary_Data.csv")

In [37]:

print(salary_Data.head())

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [38]:
print(salary_Data.head(10))

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891
5              2.9   56642
6              3.0   60150
7              3.2   54445
8              3.2   64445
9              3.7   57189

In [39]:
print(salary_Data.tail(10))

    YearsExperience  Salary
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872
30             11.0  140000
31             12.0  155000
32             13.0  156000